<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>网站后台管理系统</title>

<link rel="stylesheet" href="__PUBLIC__/Index_style/css/index.css" type="text/css" media="screen" />
<link rel="stylesheet" href="__PUBLIC__/Css/font-awesome.min.css" type="text/css" media="screen" />
<script type="text/javascript" src="__PUBLIC__/Index_style/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Index_style/js/tendina.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Index_style/js/common.js"></script>

</head>
<body>
    <!--顶部-->
    <div class="layout_top_header">
            <div style="float: left"><span style="font-size: 16px;line-height: 45px;padding-left: 20px;color: #bbb">长寿湖网站管理后台</h1></span></div>
            <div id="ad_setting" class="ad_setting">
                <a class="ad_setting_a" href="javascript:; ">
                    <i class="icon-user glyph-icon" style="font-size: 20px"></i>
                    <span style="color:orangered;font-size:15px;font-weight:bold;"><?php echo session('admin_uname');?></span>
                    <i class="icon-chevron-down glyph-icon"></i>
                </a>
                <ul class="dropdown-menu-uu" style="display: none" id="ad_setting_ul">
                    <li class="ad_setting_ul_li">
                        <a onclick="showWin()" href="javascript:void(0);"><i class="icon-user glyph-icon"></i>修改密码</a>
                    </li>
                    <li class="ad_setting_ul_li">
                        <a href="{:U('login/logout')}" class="logout"><i class="icon-signout glyph-icon"></i>退出</a>
                    </li>
                </ul>
            </div>
    </div>
    <!--顶部结束-->
    <!--菜单-->
    <div class="layout_left_menu">
        <ul id="menu">
            <li class="childUlLi" id="root" <if condition="$level != '0'">style="display:none;"</if>>
               <a href="javascript:void(0)"  target="menuFrame"><i class="fa fa-user"></i>管理员</a>
                <ul>
                    <li><a href="{:U('admin/add')}" target="menuFrame"><i class="glyph-icon icon-chevron-right"></i>添加管理员</a></li>
                    <li><a href="{:U('admin/alist')}" target="menuFrame"><i class="glyph-icon icon-chevron-right"></i>管理员列表</a></li>
                </ul>
            </li>
            <li class="childUlLi">
                <a href="javascript:void(0)"  target="menuFrame"> <i class="fa fa-chevron-right" style="font-size:14px;"></i>会员管理</a>
                <ul>
                    <li><a href="{:U('userLevel/ullist')}" target="menuFrame"><i class="glyph-icon icon-chevron-right"></i>会员等级</a></li>
                    <li><a href="{:U('user/ulist')}" target="menuFrame"><i class="glyph-icon icon-chevron-right"></i>会员列表</a></li>
                </ul>
            </li>
            <li class="childUlLi">
                <a href="javascript:void(0)" target="menuFrame"> <i class="fa fa-comment"></i>留言管理</a>
                <ul>
                    <li><a href="{:U('message/add')}" target="menuFrame"><i class="glyph-icon icon-chevron-right"></i>添加留言</a></li>
                    <li><a href="{:U('message/mlist')}" target="menuFrame"><i class="glyph-icon icon-chevron-right"></i>留言列表</a></li>
                    <li><a href="/1_csh/zxly/" target="_blank"><i class="glyph-icon icon-chevron-right"></i>转到前台留言页</a></li>
                </ul>
            </li>
            <li class="childUlLi">
                <a href="javascript:void(0)"> <i class="fa fa-phone"></i>联系我们</a>
                <ul>
                    <li><a href="{:U('contact/show')}" target="menuFrame"><i class="glyph-icon icon-chevron-right"></i>信息管理</a></li>
                </ul>
            </li>
            <li class="childUlLi">
                <a href="javascript:void(0)"> <i class="fa fa-navicon"></i>新闻管理</a>
                <ul>
                    <li><a href="{:U('contact/show')}" target="menuFrame"><i class="glyph-icon icon-chevron-right"></i>添加新闻</a></li>
                    <li><a href="{:U('contact/show')}" target="menuFrame"><i class="glyph-icon icon-chevron-right"></i>新闻列表</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!--菜单-->
    <div id="layout_right_content" class="layout_right_content" style="padding: 0;">
        <iframe id="menuFrame" name="menuFrame" src="{:U('index/welcome')}" style="overflow:visible;"
                        scrolling="yes" frameborder="no" width="100%" height="100%"></iframe>
    </div>
    <div class="layout_footer">
        <p>Copyright © 2016 - BinGo</p>
    </div>

    <div id="win">
        <div id="title">修改密码<span id="close" onclick="hide()"><i title="点击关闭" style="font-size:18px;margin-top:2px;" class="fa fa-times-circle"></i></span></div>
        <div id="content">
            <table align="center;" width="100%">
                <tr height="35">
                    <td align="right">原密码：</td>
                    <td><input type="password" name="pwd"/>
                        <input type="hidden" name="username" value="<?php echo session('admin_uname');?>"/>
                        <input type="hidden" name="url" value="{:U('index/changePwd')}">
                        <input type="hidden" name="url_logout" value="{:U('login/logout')}">
                    </td>

                </tr>
                <tr height="35">
                    <td align="right">新密码：</td>
                    <td><input type="password" name="npwd"/></td>
                </tr>
                <tr height="35">
                    <td align="right">确认密码：</td>
                    <td><input type="password" name="cnpwd"/></td>
                </tr>
                <tr height="30">
                    <td align="center" colspan="2"><span class="hint_cp"></span></td>
                </tr>
                <tr height="35">
                    <td align="center" colspan="2">
                        <a class="save" href="javascript:void(0)">保存</a>
                        <a class="closewin" onclick="hide()" href="javascript:void(0)">关闭</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="mask" style="display:none;"></div>
</body>
</html>