<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
    <link rel="stylesheet" href="__PUBLIC__/Index_style/css/index.css" type="text/css" media="screen" />
    <style>
        body{margin: 6px 0 0 10px;}
        h2{text-align:center;font-family: 微软雅黑;margin:20px;color:gray}
        span.username{color:blue;font-weight: bold;}
    </style>
</head>
<body>
<div class="route_bg">
    <a href="javascript:void(0)">首页</a><i class="glyph-icon icon-chevron-right"></i>
    <a href="javascript:void(0)">欢迎</a>
</div>
    <h2>欢迎管理员【<span class="username">admin</span>】进入后台管理系统！</h2>
    <div>
        <p>您上次登录时间为：</p>

    </div>
</body>
</html>